/*CSS Personalizado*/
*{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
body{
	padding-top: 50px;
	background: #bfcac933
}
section{
	padding-top: 25px;
	padding-bottom: 15px;
	min-height: 100vh;
}
section#contato{
	min-height: 80vh;
}
footer{
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #bfcac933;
}

.navbar-brand{
	font-weight: 700;
}
.divslider{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #bfcac933
}
.ibagens{
	height: 210px !important;
	width: 100% !important;
}
.divColorida{
	background: #FBFBFB;
	box-shadow: 1px 1px 1px -1px;
}
.servicositens *{
	text-align: center;
	display: block;
	margin: 0 auto;
}
.servicositens h4{
	margin-top: 20px;
	font-size: 20px;
}
.servicos_btn_todosS{
	margin-top: 15px;
}
.portifolio_item *{
	background-color: #bfcac933;
	display: block;
	margin: 0 auto;
}
.portifolio_item h4{
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}
.portifolio_row{
	margin-bottom: 20px;
}
.portifolio_row:last-child{
	margin-bottom: 0px;
}
.myImage {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
	transition: .85s;
}
.myImage:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* msie */
	transition: .85s;
}
.contato textarea{
	height: 176px;
}
.contato .aviso{
	padding: 15px;
}
.section_interna{
	padding-top: 0px;
}
.top{

	margin-top: 42px;
}
.form-login {
	max-width: 350px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-radius: 10px;
	background: white;
	text-align: center;
	opacity: 0.8;
}
.form-login input{
	margin-bottom: 10px;
}
.panel {
	margin-bottom: 2px;
}
.conteudo_painel{
	background: white;
	border-radius: 10px;
	border: 1px solid;
	box-shadow: 2px 2px 5px #050303;
}
.conteudo_painel_int{
	padding: 12px;
}