#box{
	width: 400px;
	height: 400px;
	margin:50px auto;
	background: #009670;
	padding: 8px;
	/*box-shadow: 10px 10px 2px 2px black ;*/
	box-shadow: 10px 10px 2px 2px black, -10px -10px 2px 2px red ;

}
#box h1{
	color: white;
	font-size: 60px;
	/*text-shadow: 10px 10px 20px black;*/
	/*text-shadow: 20px 20px  rgba(0,0,0,0.5);*/
	text-shadow: 4px 4px black;
}
	/*	/*box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
#box h1{
	background: rgba(255,255,255,0.2);
	border-bottom: 2px solid #FFF;
}*/
/*#box{
	width: 300px;
	height: 300px;
	background: linear-gradient(20deg, red, yellow);
	background: radial-gradient(red, yellow,red, yellow);
}*/