/** =============================== layout =================== */
html, body, .capa{
	height: 100%;
	overflow: auto;
}
body{
	background: url('imagens/capa.png'),
				url('imagens/ruido.png') ,
				linear-gradient(50deg ,#ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden; 
}
/* -- Barra de Navegação --*/


.img-logo{

	height: 40px;
	width: 130px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}
.navbar-brand{
	padding: 5px 15px;
}
.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}
.navbar-inverse .navbar-nav>li>a, #rodape .nav a {

	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, #rodape .nav a:hover {

	color: #9bf0e1;
	background: none;
}
/* -- Imagem de capa --*/
.capa{
	display: table;
	width: 100%;
}
.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}
/* -- Botões --*/
.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}
.btn-roxo{
	background: #7c25f8;
}
.btn-roxo:hover{
	background: #6207e3;
	color: white;
}
.btn-branco{
	border: 2px solid white;
}
.btn-branco:hover{
	background: white;
	color: black;
}
/* -- Sessão de Serviço --*/
#servicos{
	background: white;
	padding-top:20px;
	padding-bottom: 20px;
}
.albuns{
	padding: 10px 0px 10px 0px; 
}

/*Recursos*/
#recursos{
	padding-top:20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);/*IE9*/
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}
/*Rodapé*/
footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}
footer .nav{
	margin-left: 20px;
}
.item-rede-social{
	float:right;
}
/* ======================= Tipografia =============================*/
h1{
	
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px; 
}
/*Media Queries*/
/*xs < 768px*/
@media screen and (max-width: 767px){
		h1{
			font-size: 50px;
		}
		.btn-custom{
			margin: 10px 15px;
		}

}
/*sm*/
@media screen and (min-width: 768px){
		h1{
			font-size: 70px;
		}
}
/*md*/
@media screen and (min-width: 992px){
		h1{
			font-size: 80px;
		}
}
/*lg*/
@media screen and (min-width: 1200px){
		h1{
			font-size: 100px;
		}
}
h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;

}
#servicos h2, #servicos h3{
	color: #7c25f8;
}
#recursos h3{
	color: #9bf0e1;
}
#rodape h4{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 20px;
}