/*Limpar formatações padrão */
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #F3F3F3;
}
#navegacao{
	background: #FFF;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;

}
#area{
	width: 720px;
	margin:0 auto;
	
}
#area-principal{
	width: 720px;
	margin:55px auto 10px auto;
	
}
#menu{
	float: right;
	padding: 10px 0;
}
#logo{
	float: left;
}
#postagem{
	background: #FFF;
	padding: 10px;
	margin-bottom: 10px;
}
/*Formatação do menu*/
a{
	text-decoration: none;
	padding: 5px 10px;
}
/*Links não visitados*/

a:link{
	color: #838383;
}

/*Links visitados*/

a:visited{
	color: #838383;
}

/*Links Hover*/
a:hover{
	color: #FFF;
	background: #b9c941;
}
/*Links Active*/
a:active{
	color: #535353;
}
h2{
	color:#b9c941;
}

/*Classes*/
.verde{
	color: #b9c941;
}
.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom:10px; 
	margin-bottom: 10px;
}
.img-postagem{
	float: left;
	margin:0 10px 5px 0;
}
.postado{
	border-left: 5px solid  #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}