body{
	background: url(../img/bdp.png);
	padding-top: 80px;
}

.alinhamento{
	padding-top: 32px;
}
.alinhamento input{
	margin-top: 13px;
	margin-bottom: 25px;
}
.alinhamento input:last-child{
	margin-bottom: 0px;
}
.alinhamento button{
    margin-top: 30px;
}
.alinhamento h2{
	margin-bottom: 30px;
}
.check{
	margin-bottom: 9px !important;
}
