@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo_Slab_500';
    src: url('fonts/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.logo-borboleta{
	height: 50px;
	visibility: hidden;
}

img.logo {
	height: 50px;
	visibility: hidden;
}

.logo-img{
	text-align: center;
}

nav.top{
	background-color: #FCFCFC !important
}


a.nav-link {
    color: #843271 !important;

}

a.nav-link:hover{
	background: transparent !important;
}
a.nav-link:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
a.nav-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #653c4d;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav-tabs .nav-item{
	padding-left:2em;
	padding-right:2em;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active {

    color: #653c4d !important;
    background: transparent !important;
    padding-top: 2em !important;
    transition: 1s !important;

}



header{
	height: auto !important;
}
.header-bg{
    height: 100% !important;
    padding-top: 260px;
    padding-bottom: 193px;
}

.header-text{
	background-color: rgba(0,0,0,0.5);
	padding: 30px 20px;
	margin-bottom: 	0px; 
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.img-fluid-default{
    max-width: 100%;
    height: auto;
}
.header-text h2{
    font-size: 31px !important;
    font-weight: lighter;
    padding-bottom: 39px;
}
@media (max-width: 600px) 
{
	section h2 {
		font-size: 23px !important;
		line-height: 2rem !important;
	}
		.header-text h2 {
	    font-size: 34px ;
	    font-weight: lighter;
	    padding-bottom: 39px;
	}
}

.header-text p{
	font-size: 20px;
	margin-bottom: 20px;
}

.area-abrangente p{
	font-size: 13px;
    color: #777272f0;
}
.area-abrangente h2{
	padding-top: 50px;
	font-size: 16px;
    color: #5d5757f0 !important;
 	float: left !important;
}

.portfolio {
   padding-bottom: 0;
   text-overflow: none;
}

section#portfolio {
    padding-top: 0rem;
}

.imunodeficiencia #header{
	margin-top: 25px;
}
#imunu{
	margin-top: 1%;
}
#question{
	margin-top: 10%;
}
#page-imu{
	text-align: center;
	display: block;
}
.imunodeficiencia-primaria .row{
	margin-bottom: 0;
}
#page-imu a {
    margin-top: 9%;
    margin-left: 5%;
    background: none;
    border-color: #18bc9c;
    color: #18bc9c;
    display: table !important;
}
#page-imu a:hover{
	background: #14adc5;
	border-color: #18bc9c;
    color: white;
}

.btn-imuno {
    width: 50%;
    margin: 5% auto !important;
}


section#historias {
   padding: 1rem 0;
}
section#about {
    padding: 6rem 0;
    padding-bottom: 1rem;
}
p.desc-imu {
    padding-top: 8%;
}

button#btn-orgao {
	color: #FFF;
    background-color: #3ca6c5;
    border-color: #3ca6c5;
}

button#btn-sangue {
	color: #FFF;
    background-color: #37c9f5;
    border-color: #37c9f5;
}
button#btn-adulto {
	color: #FFF;
    background-color: #3ca6c5;
    border-color: #3ca6c5;
}

button#btn-crianca {
	color: #FFF;
    background-color: #37c9f5;
    border-color: #37c9f5;
}
button#btn-sangue:active, button#btn-sangue:focus,button#btn-adulto:hover,button#btn-adulto:active, button#btn-adulto:focus,button#btn-adulto:hoveradulto {
	background-color: #37c9f5;
	border-color: #37c9f5;
	outline: none !important;
   box-shadow: none;
}

.subnav{
   background: #FFF;
    margin-left: 21%;
    margin-top: 3%;
    margin-right: auto;
}
.subnav li{
	border-radius: 0px 19px 1px 21px; 
	
	
    border-radius: 0px 19px 1px 21px; 
    transition: 2s;
    /* padding: 10px; */
    margin-right: 80px;
    width: 51%;
    white-space: nowrap;
}

/*#tipoidp,
#sintomaidp,
#sistemaimune{
	background: linear-gradient(-60deg,#bfd730,#bfd730);
	border-radius: 0px 19px 1px 21px; 
    width: 12vw;
    text-align: center;
	transition: .4s;
}*/

/*#tipoidp:hover,
#sintomaidp:hover,
#sistemaimune:hover{
	background: linear-gradient(-60deg,#bfd730,#bfd730) !important;
	border-radius: 0px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: .4s;
}*/

#titulo_opc{
	margin-left: 25%;
	padding-bottom: 3%;
}
#opcoes_tratamento .subnav{
	margin-left: 0;
}
#opcoes_tratamento .subnav li{
	margin-right: 0.8em;
}
#opcoes_tratamento  .imunodeficiencia-primaria .row{
	margin-bottom: 0;
}
#opcoes_tratamento #terapiaimuno,
#opcoes_tratamento #antibioticos,
#opcoes_tratamento #terapiacelulas,
#opcoes_tratamento #terapiagenes,
#opcoes_tratamento #saudavel{
	width: 20vw;
	font-size: 1em;
}

#opcoes_tratamento #terapiaimuno,
#opcoes_tratamento #antibioticos,
#opcoes_tratamento #terapiacelulas,
#opcoes_tratamento #terapiagenes,
#opcoes_tratamento #saudavel{
	width: auto;
    text-align: center;
	transition: .4s;
}
#opcoes_tratamento #terapiaimuno:hover,
#opcoes_tratamento #antibioticos:hover,
#opcoes_tratamento #terapiacelulas:hover,
#opcoes_tratamento #terapiagenes:hover,
#opcoes_tratamento #saudavel:hover{
	
}
.conteudo-antibiotico ,.conteudo-terapiacelulas ,.conteudo-terapiagenes ,.conteudo-saudavel {
	display: none;
}
.btn-group button{
	width: 9vw;
}

.imunodeficiencia-primaria h2{
	  margin-top: 8%;
}
.imunodeficiencia-primaria .row{
	  margin-top: 0%;
	  margin-bottom: 25%;
}
.sistemaimune{
	display: block !important;
}

 .conteudo-tipoidp, .conteudo-sinidp {
	display: none;
	transition: 2s all; 
}

.conteudo-sangue{
	display: none;
}

.conteudo-sisimu .btn-group, .conteudo-sinidp .btn-group {
	margin-left: 41%;
    margin-top: 3%;
    margin-bottom: 4%;
}
.conteudo-sisimu .btn-primary, .conteudo-sinidp .btn-primary {
    color: #fff;
    background-color: #37c9f5;
    border-color:#5e8eca;
  }
.conteudo-sisimu  .btn-warning, .conteudo-sinidp .btn-warning {
    color: #212529;
    background-color: #e2960c;
    border-color: #e2960c;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media(max-width: 535px){
	.subnav{
		width: auto;
		height: auto;
		margin-left: 0;
		margin-bottom: 2%;
		padding-bottom: 5px;    
		margin-right: 0;
	}
	.subnav li{
		margin-top: 5px;
		margin-right: 0;
		width: 100%;
	}
	#page-imu {
    margin: auto;
    margin-left: 0;
	}
	#tipoidp,#sintomaidp,#sistemaimune{
		width: 100%;
	}
	#opcoes_tratamento #sistemaimune {
    width: 100%;
	}
	#img-transition{
	    margin-left: 35% !important
	}
	
}

/* @media(min-width: 412px)
{
	.stories {
		height: 50vh !important;
	}	 
}
@media(min-width: 768px){
	.stories {
		height: 33vh !important;
	}
}
@media(min-width: 1024px){
	.stories {
		height: 23vh !important;
	}
}
@media(min-width: 1025px){
	.stories {
		height: 56vh !important;
	}
}

@media(max-width: 360px){
	.stories {
	    height: 56vh !important;
	   }
}

@media(max-width: 412px)
{
	.stories {
		height: 66vh !important;
	}	 
}
@media(max-width: 414px)
{
	.stories {
		height: 55vh !important;
	}	 
}
@media (max-width: 375px){
	.stories {
	    height: 62vh !important;
	}
}
@media(max-width: 768px){
	#questionimg{
		display: none;
	}
	.img-fluid{
	    height: 53% !important;
	}
		
}
 */


.imunodeficiencia .row1{
	height: 23vh;
	background: linear-gradient(-60deg,#bfd730,#bfd730);
	padding-bottom: 0;
	width: 100%;
	display: table;
}
.imunodeficiencia .row1 strong{
	font-size: 16px;
}
.tr1 p{
	padding-left: 25%;
	padding-top: 34px;
	color: #F8F8FF;
	word-wrap: break-word;
	text-align: left;
	text-shadow: 2px 1px 20px black;
}
.im1 img{
	float: right;
	margin-top: 0;
}
.imunodeficiencia .row2{
	height: auto;
	background: linear-gradient(-111deg,#9d3ebe,#9d3ebe);
	width: 100%;
	padding-bottom: 0;
	display: table;
}
.tr2 p{
	float: left;
	padding-right: 218px;
	color: #F8F8FF;
	padding-top: 34px;
	text-align: left;
	text-shadow: 2px 0.5px 20px black;
}
.im2 img{
	float: right;
	margin-top: 67px;
}
.imunodeficiencia .row3{
	height: 23vh;
    background: linear-gradient(-90deg,#f37020,#f37020);
    width: 100%;
	display: table;
	padding-bottom: 0;
}

.tr3 p{
	float: right;
	padding-left: 218px;
	padding-top: 34px;
	color: #F8F8FF;
	text-align: left;
	text-shadow: 2px 1px 20px black;
}
.im3 img{
	float: left;
	margin-top: 69px;
}
.tr1 a{
	background: none;
    border: 1px solid white;
    margin-top: 11%;
    text-shadow: 2px 1px 20px black;
}
.tr2 a{
	background: none;
	border: 1px solid white;
	margin-top: 11%; 
	}
.tr3 a{
	background: none;
    border: 1px solid white;
    margin-top: 11%;
    margin-left: 43%;
	text-shadow: 2px 1px 20px black;
}
@media (max-width: 576px) { 
	.im1 img{
		display: none;
	}
	.tr2 p {
		padding-left: 0;
		float: left !important;
	}
	.im2 img{
		display: none;
	}
	.im3 img{
		display: none;
	}
	.tr2 p {
		padding-right: 0;
	}
	.tr3 p {
		padding-left: 0;
		padding-right: 17vw;
		padding-left: 25%;

	}
}
#img-transition{
	margin-top: 3%;
    margin-left: 45%;
    margin-bottom: 4%;;
}

/*Carrolssel*/

section.diseases{
	background-image:url("../img/doctor.jpg");
}

h2.diseases{
	margin-bottom: 30px !important;
}

li.menu{
	font-size: 12px !important;
}
 p#informe{
    font-size: 0.7em;
    margin-top: 1%;
}

.stories{
	min-height: 55vh;
	padding: 10px 40px;
	text-align: center;
}

img.stories-profile {
    width: 130px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.carousel{
	width: 100%;
}

.carousel-caption{
	color: red;
	left: 2%;
    padding-top: 0;
}

.carousel-indicators li {
    background-color: rgba(209,152,29,.5);
}

.carousel-indicators  .active {
    background-color: rgba(209,152,29,.5) !important;
}

.carousel-control-prev-icon {
    background-image: url("img/prev.png");
}

.carousel-control-next-icon {
    background-image: url("img/next.png");
}
.description-slide{
	font-size: 0.9em;
}
.description-slide-small{
	margin-left: 34%;
}
.carousel-caption .btn-secondary{
	padding: 1% 10%;
	color: #65398a;
	margin-left: 0%;
	background: none;
	border: 1px solid #65398a ;

}
.carousel-caption .btn-secondary:hover{
	padding: 1% 10%;
	color: #007b9e;
	margin-left: 0%;
	background: none;
	border: 1px solid #007b9e ;
	transition: 0.5s;
}
.historias{
	margin-top: 8%;
	display: table;
}
.description-h {
	    margin-top: 2%;
}

.carrousel-historias{
	margin-top: 8%;
}

.historia {
    width: 83% !important;
    margin: 0 auto;
    text-align: justify;
}

.row-historia{
  	width: 98%;
  	margin-left: 1%;
	margin-top: 2%;
}

.conheca-historia{
	display: table-cell;
	vertical-align: middle;
}

.header-historia{
	font-weight: bold;
	color: #603688;
}

.citacao-historia{
	font-weight: bold;
	font-size: 14pt;
}

.diagnostico{
	text-align: right;
}

.img-header-historia{
	max-width: 100%;
}

.conteudo-historia{
	text-align: justify;
	margin-top: 5%;
}

.pergunta-historia{
	font-weight: bold;
	font-style: italic;
	font-size: 13pt;
	color: #5f5f5f;
	margin-bottom: .3rem;
	margin-top: 1.5rem;
}

ul.sub-menu{
  margin: 5px auto;
  padding: 5px;
  border:none;
  text-align: center;
  font-weight: bold;
}

ul.sub-menu > li{
  padding: 0px;
  margin:0 auto;
}

li.disable{
  color: #9a9a9a;
}

.historias .sub-menu li a {
    color: #603688 !important;
    font-weight: bold;
}


.sr .nav-link { visibility: hidden !important; }


.carousel-top{
	height: 85vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-top-item{
	height: 100%;
	background-position: 60% 15% !important;
	background-size: cover !important;
}

.carousel-top-item:nth-child(1) {
	background: url('../img/1.jpg');  
}

.carousel-top-item:nth-child(2) {
	background: url('../img/2.jpg');  
}

.carousel-top-item:nth-child(3) {
	background: url('../img/3.png');  
}

.slick-list, .slick-track{
	height: 100% !important;
}

.slick-dots {
    bottom: 5px !important;
    z-index: 4;
}

.slick-dots li button:before {
    font-size: 10px !important;
    opacity: .25 !important;
    color: #FFFFFF !important;
    transition: .3s;
}


.slick-active  button {
    font-size: 20px !important;
    transition: .3s;
}


div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: .5;
}

.text-home{
	text-align: center;
    height: 100vh;
    color: white;
    font-family: 'quicksandregular'; 
    padding: 50vh 2vw;
    font-size: 30pt;
}

